
html, body *{

  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
clear {
  clear: both;
}
nav {
    display: block;
  }

  .cf:before,
  .cf:after{
   content:" ";
   display:table;
  }

  .cf:after{
   clear:both;
  }

h1{
  color: brown;
  width:auto;
  height:auto;
  display:block;
  text-align: center;
  font-size: 4em;
}
h2{
  text-align: center;
}
img {
  display: block;
  height:150px;
  width:150px;
  border: 10px solid white;
  border-radius: 15px;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
   background-image:url("./img/map.png");
}

grad{
  background:linear-gradient(blue, green);
}
.float-left {
  height:33%;
  width: 33%;
  float: left;
  border-left: solid;
  margin: auto;

  }

.float-right {
  float: right;
  height:33%;
  width: 33%;
  margin:auto;
}
a:hover {
  color: green;
}

a:active {
  background-color: yellow;
  color: blue;
}

a:focus {
  text-decoration: underline;
  color: purple;
}

a:visited {
  text-shadow: bold;
  color: maroon;
}
footer {
  
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   text-align: center;
}
p{
  text-align: center;
}
li{
  text-align: center;
}
a{
  text-align: center;
}
