h1{
  color: brown;
  width:auto;
  height:auto;
  display:block;
  text-align: center;
  font-size: 1em;
img {
  border: 10px solid gray;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
}
h2#Wildlife {
  background-color: yellow;
  font-weight: bold;
  font-size: 1rem;
}
p.font-style{
  font-style: italic;
}
p.font-size{
  font-size: xx-large;
  text-decoration: underline;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150;
    margin-left: 80px;
    padding: 10%;

}
body {
   background-image:url("./img/map.png";
}
a:link, a:visited, a:hover, a:focus, a:active{
    color: red;
    text-decoration: underline;
}
grad{
  background:linear-gradient(blue, green);
